<div class="bg-primary d-flex justify-content-between align-items-center px-4 pt-4 pb-3"> 

  <%= link_to "", root_path, class: "fa-solid fa-arrow-left fa-xl text-light text-decoration-none" %>

  <h2 class="text-light text-center"><%= title %></h2>

  <%= link_to "", destroy_user_session_path, class: "fa-solid fa-door-open fa-xl text-light text-decoration-none" %>
  
</div>