<div id="<%= dom_id category %>" class="bg-light p-2 d-flex m-3 align-items-start position-relative">

  <div>
    <p class="p-2"><%= category.icon %></p>
  </div>

  <div>
    <p><%= category.name %></p>
    <p><%= category.created_at.strftime("%d %B %Y") %></p>
  </div>

  <div>
    <p class="price">$246</p>
  </div>

</div>
