<div class="bg-primary d-flex justify-content-between align-items-center px-4 pt-4 pb-3">
    
  <i class= "fa-solid fa-bars fa-xl text-light text-decoration-none"></i>
  <h2 class="text-light text-center">Categories</h2>
    <i class="fa-solid fa-door-open fa-xl text-light text-decoration-none"></i>
  </div>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
   <!--  <p>
      <%= link_to "Show this category", category %>
    </p>
    -->
  <% end %>
  <div class="outer-btn">
  <%= link_to "New category", new_category_path, class:"add-btn" %>
  </div>
</div>

