<div id="<%= dom_id expense %>" class="bg-light p-2 d-flex m-1 align-items-center position-relative">
  <p>
    <%= expense.name %>
  </p>

  <p class="price">
     $<%= expense.amount %>
  </p>

</div>