
<%= render 'shared/header', title: "Transactions" %>

<div id="expenses">
<p class="total-amount">
    <strong>Total amount: </strong>
    $<%= @expenses.sum(:amount) %>
  </p>
  <% @expenses.each do |expense| %>
    <%= render expense %>
  <% end %>
</div>

<%= link_to "New expense", new_category_expense_path %>
